        <footer class="Footer">
            <div class="Footer_contact">
                <h3>Contacto</h3>
                <p><strong>Email:</strong><br><a href="" class="Footer_Link">primercorreo@matmun.org</a><br><a href="" class="Footer_Link">segundocorreo@matmun.org</a><br><strong>Teléfono:</strong><br><a href="" class="Footer_Link">987-654-321</a>
                </p>
            </div>
            <div class="Footer_download">
                <h3>Recursos</h3>
                <p><a href="" class="Footer_Link">Manual del Delegado</a><br><a href="" class="Footer_Link">Formato de hoja de posición</a>
                </p>
            </div>
            <div class="Footer_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9818.542701188026!2d-97.57318741996829!3d25.915178462337295!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57aa662a991cd555!2sTecnol%C3%B3gico+de+Monterrey%2C+Matamoros!5e0!3m2!1ses!2smx!4v1514738193251" width="400" height="300" frameborder="0" style="border:0" allowfullscreen class="Map"></iframe>
            </div>
        </footer>
      </div>
</body>
</html>