        <footer class="Footer">
            <div class="Footer_content">
                <div class = "Footer_container">
                    <div class="Footer_resources">
                        <div class="Footer_contact">
                            <h3>Contacto</h3>
                            <p class = "Footer_description"><strong>Email:</strong><br><a href="mailto:arriaga.angel@live.com" class="Footer_Link">arriaga.angel@live.com.mx</a><br><a href="mailto:jaimesosac@hotmail.com" class="Footer_Link">jaimesosac@hotmail.com</a><br><strong>Teléfono:</strong><br><a href="tel:+52 1 (868) 158 78 58" class="Footer_Link">+52 1 (868) 158 78 58</a>
                            </p>
                        </div>
                        <div class="Footer_download">
                            <h3>Recursos</h3>
                            <p class = "Footer_description"><a href="/Manual.pdf" class="Footer_Link" target="_blank">Manual del Delegado</a><br><a href="https://m.youtube.com/watch?v=sdWCEmA83KY&rel=0" class="Footer_Link" target="_blank">Hoja de posición</a>
                            </p>
                        </div>
                    </div>
                    <div class="Footer_map">
                        <iframe sandbox="allow-same-origin allow-scripts" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3543.1079106174425!2d-97.57070270692974!3d25.915773627481883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57aa662a991cd555!2sTecnol%C3%B3gico+de+Monterrey!5e0!3m2!1sen!2smx!4v1514869652499" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="Footer_feed">
                    <iframe sandbox="allow-same-origin allow-scripts" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fojnummatamoros&tabs=timeline&width=300&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        </footer>
        <div class="void">
            <p class= "Void_p">Desarrollado por <span class="Void_span">Void</span></p>
        </div>
      </div>
    </div>
    <link href="https://file.myfontastic.com/NDjhrPa4ZujhLf5qn9utKh/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.min.css">
    <script type="text/javascript" src="../javascripts/script.js"></script>
</body>
</html>