<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://file.myfontastic.com/NDjhrPa4ZujhLf5qn9utKh/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script type="text/javascript" src="../javascripts/script.js"></script>
    <title>Matmun 2018: Tomando Acción</title>
</head>
<body class="HomePage">
  <div class="Grid-Container Container" id="HomePage">
    <!-- Encabezado -->
    <header class="Header Container">
        <div class="Header_Logo">
            <a href="/" class="Navbar_Link">
                <img src="#" alt="" class="Header_img">
            </a>
        </div>
        <span class="open toggle icon-bars" onclick="openNav()"></span>
        <!-- Menu de navegación -->
        <nav class="Navbar" id="Navbar">
            <span class="close toggle" onclick="closeNav()">X</span>
            <h2 class="Navbar_item">Menú</h2>
            <ul class="Menu">
                <li class="Menu_item"><a href="/comites" class="Menu_Link">Comités</a></li> 
                <li class="Menu_item"><a href="/delegados" class="Menu_Link">Delegados</a></li>
                <li class="Menu_item"><a href="/contacto" class="Menu_Link">Contacto</a></li>
            </ul>
        </nav>
    </header>