<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://file.myfontastic.com/NDjhrPa4ZujhLf5qn9utKh/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.min.css">
    <script type="text/javascript" src="../javascripts/script.js"></script>
    <link rel="SHORTCUT ICON" type ="image/x-icon" href="../images/favicon.ico"/>
    <title>Matmun 2018: Tomando Acción</title>
</head>
<body class="HomePage">
  <div class="Grid-Container">
    <!-- Encabezado -->
    <header class="Header">
        <div class="Header_content Container">
            <div class="Header_Logo">
                <a href="/" class="Navbar_Link">
                    <img src="../images/Tomando Accion logo LETRAS 2.png" alt="" class="Header_img">
                </a>
            </div>
            <span class="open toggle icon-bars" onclick="openNav()"></span>
            <!-- Menu de navegación -->
            <nav class="Navbar" id="Navbar">
                <span class="close toggle" onclick="closeNav()">X</span>
                <h2 class="Navbar_item">Menú</h2>
                <ul class="Menu">
                    <li class="Menu_item"><a href="/Comites" class="Menu_Link">Comités</a></li> 
                    <li class="Menu_item"><a href="/Delegados" class="Menu_Link">Delegados</a></li>
                    <li class="Menu_item"><a href="/Contacto" class="Menu_Link">Contacto</a></li>
                    <!-- <li class="Menu_item"><a href="#" class="Menu_Link">Iniciar sesión</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <div class="Content_container">
