*{
  font-family:"Raleway";
}
/*Navbar*/
.navbar{
  margin-bottom: 0;
  background-color:rgba(128,151,237,1);
}
.navbar-brand{
  font-weight:600;
}
.navbar + .container-fluid{
  margin: 0 2em 0 2em;
}
.jumbotron .container{
  width: 90vw;
}
.jumbotron .container{
  text-align: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color:rgb(176, 191, 242);
  font-weight: 600;
  color: white;
}
.navbar-default .navbar-nav>li>a{
  color:white;
}
.navbar-default .navbar-brand {
  color: white;
}

/*Countdown*/
.round {
  border-radius: 100000px; 
  font-family: "Roboto";
  font-size:4em;
  text-align: center;
  border-color: black;
  border-style: solid;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  width: 5em;
  margin-right: 0.11em;
  margin-left: 0.11em;
}

.fontRoboto{
  font-family: "Roboto";
}

.round2{
  text-align: center;
  font-size: 0.5em;
  font-weight: 
}

#days{
  border-color: red;
}

#hours{
  border-color:blue;
}

#minutes{
  border-color: red;
}

#seconds{
  border-color: blue;
}

#countdown{
  margin-bottom: 5em; 
}

/*Google Maps*/
.topBackground{
  width:100%;
  height: 35px;
  background-color: rgba(128,151,237,1);
}
.footer{
  width:100%;
  height: 60px;
  margin:0px;
  }

.footer a {
  font-size: 1.5em;
  margin:0px;
}

#map{
  width: 100%;
  height: 400px;
  background-color: gray;
}

/* Void(); */
#void{
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(128,151,237);
  margin:0px;
  height: 35px;
}
#void p{
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: .75rem;
}
#void a{
  font-size: 1.5rem;
  color: white;
}