<%include partials/header%>

<div class="Content_container">
<% for (var i = 0; i < committee.length; i++) { %>
	<p> <%=committee[i].name%> </p>
	<img src="<%=committee[i].image%>">
<% } %>
</div>

<%include partials/footer%> 
