<%include partials/header%>
<section class="Form Container">
            <h2 class="Form_title">Contacto</h2>
            <form action="/contacto" method="POST" class="Form_main">
                <div class="Form_name Form_item">
                    <label for="name">Nombre: <span class="Form_required">*</span></label>
                    <input type="text" id="full_name" name="name" placeholder="Juan Pérez" required>
                </div>
                <div class="Form_email Form_item">
                    <label for="email">Corre electrónico: <span class="Form_required">*</span></label>
                    <input type="email" id="email_addr" name="email" placeholder="juan@ejemplo.com"required/>
                </div>
                <div class="Form_phone Form_item">
                    <label for="phone">Teléfono: </label>
                    <input type="number" id="phone" name="phone" placeholder="999-8765-4321"/>
                </div>
                <div class="Form_subject Form_item">
                    <label for="subject">Asunto: <span class="Form_required">*</span></label>
                    <input type="text" id="subject" name="subject" placeholder="Crisis" required>
                </div>
                <div class="Form_msg Form_item">
                    <label for="msg">Mensaje: <span class="Form_required">*</span></label>
                    ​<textarea id="msg" name="msg" rows="10" cols="70" placeholder="Hola..."required></textarea>
                    <input class="Form_submit" type="submit">
                </div>
            </form>
        </section>
<%include partials/footer%>