<%include partials/header%>
<section class="Logistica Container">
            <h2 class = "Logistica_title">Delegados</h2>
            <div class="Logistica_table-container fixed-table-container" id="fixed-table-container-demo">
                <table class="Logistica_table">
                    <thead class="Logistica_head">
                        <tr class="Logistica_row">
                            <th class="Logistica_h">Comité</th>
                            <th class="Logistica_h">Siglas</th>
                            <th class="Logistica_h">Tema 1</th>
                            <th class="Logistica_h">Tema 2</th>
                            <th class="Logistica_h">Idioma</th>
                            <th class="Logistica_h">Salón</th>
                        </tr>
                    </thead>
                    <tbody class="Logistica_body">
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Asamblea General</td>
                            <td class="Logistica_td">AG</td>
                            <td class="Logistica_td">Integración económica, social y cultural de refugiados en países anfitriones</td>
                            <td class="Logistica_td">Medidas para fortalecer los esfuerzos internacionales contra los grupos extremistas</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">121</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">UNWomen</td>
                            <td class="Logistica_td">UNW</td>
                            <td class="Logistica_td">Indigenous women's rights and activism</td>
                            <td class="Logistica_td">Women, peace and security: Preventing war and sustaining peace</td>
                            <td class="Logistica_td">Inglés</td>
                            <td class="Logistica_td">124</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Consejo de Seguridad</td>
                            <td class="Logistica_td">CRISIS</td>
                            <td class="Logistica_td">Medidas preventivas hacia una inestabilidad económica, social y política en Venezuela</td>
                            <td class="Logistica_td">Plan de acción para prevenir un ataque nuclear entre EUA y Norcorea</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">111</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Consejo Económico y Social</td>
                            <td class="Logistica_td">ECOSOC</td>
                            <td class="Logistica_td">Posibles soluciones para el impacto de la renegociación del TLC en América del Norte</td>
                            <td class="Logistica_td">Estrategias para contrarrestar una posible decadencia económica en países europeos a causa de BREXIT</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">114</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Corte Interamericana de los Derechos Humanos</td>
                            <td class="Logistica_td">CIDH</td>
                            <td class="Logistica_td">Caso Comunidad de Río Negro vs Guatemala</td>
                            <td class="Logistica_td">Caso La Cantuta vs El Perú</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">131</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Banner-->
        <div class="Foto Container">
            <img class = "Foto_img" src="../images/Tec.jpg" alt="Tec">
        </div>
        <!-- Horario -->
        <section class="Quorum Container">
            <h2 class = "Quorum_title">Horario</h2>
            <table class="Quorum_table">
                <thead class="Quorum_head">
                    <tr class="Quorum_row">
                        <th class="Quorum_h">Actividad</th>
                        <th class="Quorum_h">Hora</th>
                    </tr>
                </thead>
                <tbody class="Quorum_body">
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                </tbody>
            </table>
            <table class="Quorum_table">
                <thead class="Quorum_head">
                    <tr class="Quorum_row">
                        <th class="Quorum_h">Actividad</th>
                        <th class="Quorum_h">Hora</th>
                    </tr>
                </thead>
                <tbody class="Quorum_body">
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                    <tr class="Quorum_row">
                        <td class="Quorum_left">Lorem</td>
                        <td class="Quorum_Flag Quorum_right">0:00</span></td>
                    </tr>
                </tbody>
            </table>
        </section>
<%include partials/footer%>