<%include partials/header%>
<section class="Logistica Container">
            <h2 class = "Logistica_title">Delegados</h2>
            <div class="Logistica_table-container fixed-table-container" id="fixed-table-container-demo">
                <table class="Logistica_table">
                    <thead class="Logistica_head">
                        <tr class="Logistica_row">
                            <th class="Logistica_h">Comité</th>
                            <th class="Logistica_h">Siglas</th>
                            <th class="Logistica_h">Tema 1</th>
                            <th class="Logistica_h">Tema 2</th>
                            <th class="Logistica_h">Idioma</th>
                            <th class="Logistica_h">Salón</th>
                        </tr>
                    </thead>
                    <tbody class="Logistica_body">
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Asamblea General</td>
                            <td class="Logistica_td">AG</td>
                            <td class="Logistica_td">Integración económica, social y cultural de refugiados en países anfitriones</td>
                            <td class="Logistica_td">Medidas para fortalecer los esfuerzos internacionales contra los grupos extremistas</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">121</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">UNWomen</td>
                            <td class="Logistica_td">UNW</td>
                            <td class="Logistica_td">Indigenous women's rights and activism</td>
                            <td class="Logistica_td">Women, peace and security: Preventing war and sustaining peace</td>
                            <td class="Logistica_td">Inglés</td>
                            <td class="Logistica_td">124</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Consejo de Seguridad</td>
                            <td class="Logistica_td">CRISIS</td>
                            <td class="Logistica_td">Medidas preventivas hacia una inestabilidad económica, social y política en Venezuela</td>
                            <td class="Logistica_td">Plan de acción para prevenir un ataque nuclear entre EUA y Norcorea</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">111</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Consejo Económico y Social</td>
                            <td class="Logistica_td">ECOSOC</td>
                            <td class="Logistica_td">Posibles soluciones para el impacto de la renegociación del TLC en América del Norte</td>
                            <td class="Logistica_td">Estrategias para contrarrestar una posible decadencia económica en países europeos a causa de BREXIT</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">114</td>
                        </tr>
                        <tr class="Logistica_row">
                            <td class="Logistica_td">Corte Interamericana de los Derechos Humanos</td>
                            <td class="Logistica_td">CIDH</td>
                            <td class="Logistica_td">Caso Comunidad de Río Negro vs Guatemala</td>
                            <td class="Logistica_td">Caso La Cantuta vs El Perú</td>
                            <td class="Logistica_td">Español</td>
                            <td class="Logistica_td">131</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Banner-->
        <div class="Foto Container">
            <img class = "Foto_img" src="../images/Tec.jpg" alt="Tec">
        </div>
        <!-- Horario -->
        <section class="Horario Hoy Container">
            <h2 class="Horario_title">Horario Día 1</h2>
            <table class="Horario_table">
                <thead class="Horario_head">
                    <tr class="Horario_row">
                        <th class="Horario_h">Actividad</th>
                        <th class="Horario_h">Horario</th>
                    </tr>
                </thead>
                <tbody class="Horario_body">
                    <tr class="Horario_row">
                        <td class="Horario_td">Registro</td>
                        <td class="Horario_td">15:00 - 15:45</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Inauguración</td>
                        <td class="Horario_td">15:45 - 16:15</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 0</td>
                        <td class="Horario_td">16:15 - 16:45</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Ambigú</td>
                        <td class="Horario_td">16:45 - 17:30</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 1</td>
                        <td class="Horario_td">17:30 - 18:30</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Break</td>
                        <td class="Horario_td">18:30 - 19:00</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Conferencia</td>
                        <td class="Horario_td">19:00 - 20:00</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Salida de expresos</td>
                        <td class="Horario_td">20:00</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="Horario Container">
            <h2 class="Horario_title">Horario Día 2</h2>
            <table class="Horario_table">
                <thead class="Horario_head">
                    <tr class="Horario_row">
                        <th class="Horario_h">Actividad</th>
                        <th class="Horario_h">Horario</th>
                    </tr>
                </thead>
                <tbody class="Horario_body">
                    <tr class="Horario_row">
                        <td class="Horario_td">Registro</td>
                        <td class="Horario_td">8:00 - 8:30</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 2</td>
                        <td class="Horario_td">8:30 - 10:00</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Ambigú</td>
                        <td class="Horario_td">10:00 - 10:45</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 3</td>
                        <td class="Horario_td">10:45 - 11:45</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Conferencia</td>
                        <td class="Horario_td">11:45 - 13:15</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 4</td>
                        <td class="Horario_td">13:15 - 14:15</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Comida</td>
                        <td class="Horario_td">14:15 - 15:15</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 5</td>
                        <td class="Horario_td">15:15 - 16:30</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Break</td>
                        <td class="Horario_td">16:30 - 17:00</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 6</td>
                        <td class="Horario_td">17:00 - 18:00</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Break</td>
                        <td class="Horario_td">18:00 - 18:30</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Sesión 7</td>
                        <td class="Horario_td">18:30 - 19:00</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Retroalimentación</td>
                        <td class="Horario_td">19:00 - 19:30</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Clausura</td>
                        <td class="Horario_td">19:30 - 20:00</td>
                    </tr>
                    <tr class="Horario_row">
                        <td class="Horario_td">Salida de expresos</td>
                        <td class="Horario_td">20:00</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <script type="text/javascript" src="../javascripts/horario.js"></script>
<%include partials/footer%>