<% include partials/header.ejs %>
<!-- Banner con imagen -->
        <div class="Banner">
            <div class="Banner_content">
                <h2 class="Banner_description">
                    El modelo de Naciones Unidas más importante en Matamoros
                </h2>
                <h3 class="Banner_date">
                    1 y 2 de marzo 2018
                </h3>
                <p class="Banner_item"><a href="Contacto.html" class="Button_cta">Conoce más</a></p>
            </div>
        </div>
        <!-- Sección con enlace a videos introductorios -->
        <section class="Videos Container">
            <div class="Videos_item">
                <div class="Videos_imgContainer"><img src="" alt="" class="Videos_image"></div> 
                <p class="Videos_description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est provident similique delectus, minus assumenda quos excepturi hic accusantium molestiae natus, cupiditate nesciunt facere esse impedit? Quis voluptatum at qui earum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est provident similique delectus, minus assumenda quos excepturi hic accusantium molestiae natus, cupiditate nesciunt facere esse impedit? Quis voluptatum at qui earum!
                </p>
            </div>
            <div class="Videos_item">
                <div class="Videos_imgContainer"><img src="" alt="" class="Videos_image"></div> 
                <p class="Videos_description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est provident similique delectus, minus assumenda quos excepturi hic accusantium molestiae natus, cupiditate nesciunt facere esse impedit? Quis voluptatum at qui earum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est provident similique delectus, minus assumenda quos excepturi hic accusantium molestiae natus, cupiditate nesciunt facere esse impedit? Quis voluptatum at qui earum!
                </p>
            </div>        
        </section>
        <!-- Sección con fotografías del equipo -->
        <section class="Team Container">
            <h2 class="Team_title">Equipo</h2>
            <div class="Team_item Team_Angel">
                <p class="Team_name ">Ángel Armando Arriaga Treviño</p>
            </div>
            <div class="Team_item Team_Isa">
                <p class="Team_name">Ángel Armando Arriaga Treviño</p>
            </div>
            <div class="Team_item Team_Lalo">
                <p class="Team_name">Ángel Armando Arriaga Treviño</p>
            </div>
            <div class="Team_item Team_Jaime">
                <p class="Team_name">Ángel Armando Arriaga Treviño</p>
            </div>
            <div class="Team_item Team_Diana">
                <p class="Team_name">Ángel Armando Arriaga Treviño</p>
            </div>
        </section>
<%include partials/footer%>