<% include partials/header.ejs %>
        <!-- Banner con imagen -->
        <div class="Banner">
            <div class="Banner_content">
                <h1 class="Banner_description">
                    El modelo de Naciones Unidas más importante en Matamoros
                </h1    >
                <h3 class="Banner_date">
                    8 y 9 de marzo 2018
                </h3>
                <p class="Banner_item"><a href="/Contacto" class="Button_cta">Conoce más</a></p>
            </div>
        </div>
        <!-- Sección con enlace a videos introductorios -->
        <section class="Videos Container">
            <div class="Videos_item">
               <div class="Videos_imgContainer"><a href="https://www.youtube.com/watch?v=jBa5gRXc_t8" target="_blank" class="Videos_link"><img src="../images/Matmun 2017 logo v2.png" alt="Logo de Matmun 2017" class="Videos_image"><span class= " icon-play Videos_icon"></span></a></div> 
                <p class="Videos_description">
                    ¡No te pierdas MATMUN 2018! Esta es una experiencia única y llena de retos para desarrollar un pensamiento crítico. También es una gran oportunidad para conocer nuevas culturas, países y los diferentes puntos de vista hacia un problema global. Aquí está el video clausura de MATMUN 2017 para que tengas una idea más clara de lo que es MATMUN. ¡TE ESPERAMOS!
                </p>
            </div>
            <div class="Videos_item">
                <div class="Videos_imgContainer"><img src="../images/reading-icon.png" alt="Icono azul con libro blanco" class="Videos_image"></div> 
                <p class="Videos_description">
                    Aqui se encuentra el <strong><a class="Footer_Link" href="/Manual.pdf" target="_blank">Manual del Delegado</a></strong>, este es un manual donde explicamos completamente todo acerca de como se debe vivir la experiencia Matmun, ejemplos de hoja de posicion, codigo de vestimentas y conducta, y los reglamentos.
                </p>
            </div>        
        </section>
        <!-- Sección con fotografías del equipo -->
        <section class="Team Container">
            <h2 class="Team_title">Equipo</h2>
            <div class="Team_item Team_Angel">
                <p class="Team_name ">Ángel Armando Arriaga Treviño</p>
            </div>
            <div class="Team_item Team_Isa">
                <p class="Team_name">Isabella Montalvo</p>
            </div>
            <div class="Team_item Team_Lalo">
                <p class="Team_name">Eduardo Diosdado Castelazo</p>
            </div>
            <div class="Team_item Team_Jaime">
                <p class="Team_name">Jaime Armando Sosa Caballero</p>
            </div>
            <div class="Team_item Team_Diana">
                <p class="Team_name">Diana Patricia Peña</p>
            </div>
        </section>
<%include partials/footer%>